{% extends "layout.html" %}

{%  block content %}

<div class="container">
    {% include '_messages.html' %}
    {% from "_formhelpers.html" import render_field %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="text-center">Register</h1>
                <form method="post" enctype="multipart/form-data">

                    <div>
                        {{ render_field(form.name ,class="form-control") }}
                        {{ render_field(form.username ,class="form-control") }}
                        {{ render_field(form.email ,class="form-control") }}
                        {{ render_field(form.password ,class="form-control") }}
                        {{ render_field(form.confirm ,class="form-control") }}
                    </div>
                    <p><input type=submit value=Register class="btn btn-info"></p>
                </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{%  endblock content %}