{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Item</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for key, product in session['cart'].items() %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><img src="{{url_for('static',filename='images/'+product.image)}}" alt="{{product.name}}" width="50" height="45"></td>
                    <td>{{product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>${{product.price}}</td>
                    {% set subtot = product.quantity|int * product.price|float %}
                    <td>{{subtot}}</td>
                    <td><a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td><a href="/"class="btn btn-sm btn-success">Go back</a></td>
                    <td><h5>Total: ${{sum}}</h5></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

</div>
{% endblock content %}
