<!-------start---navbar--------->

<div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="color: green;letter-spacing: 5px;"><img src="/static/images/logo.png" alt="Logo" width="100" height="60" class="d-inline-block align-text-center">
            re purpose shopping</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Products</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Brands
                </a>
                <ul class="dropdown-menu">
                  {% for brand in brands %}
                  <li><a class="dropdown-item" href="#">{{brand.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu">
                  {% for cat in categories %}
                  <li><a class="dropdown-item" href="#">{{cat.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('getCart')}}">Purchases({{ session['cart']|length }})</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    <!--------end----navbar--------->